<div class="container justify-content-center" *ngIf="this.showFsaAPINotSupportedMessage">
    <div class="row">
        <div class="col mt-1 mb-3">
            <div class="alert alert-v4t text-center">
                <i class="fa fa-exclamation-circle"></i>&nbsp;<strong>Attention!</strong> This web browser does not support interaction with your computer files and folders, so you will not be able to use features like exercise download or automatic file synchronization.
                <br>If you want to use these features, please use a compatible browser like most recent versions of Google Chrome or Microsoft Edge. Check out compatibility in <a href="https://caniuse.com/native-filesystem-api" target="_blank" class="link-v4t link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">this link</a>.
            </div>
        </div>
    </div>
</div>
