<div class="correctedAnswers">
  <div class="uncorrectedAnswersJ">
    <form id="correctUnmarked{{id}}" action="/concept/{{#concept}}{{id}}{{/concept}}/mark/{{id}}" method="post">
      <input
        type="textarea"
        name="answerText"
        value="{{ answerText }}"
        disabled
		    required
      />
      <div class="correction">
      <div class="form-check form-check-radio">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="correct"
              id="correct{{ id }}"
              value="yes"
              onclick="showJustification('incorrect{{id}}', 'justificationAnswer{{ id }}', false)"
              required
            />
            Correcta
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>
        <div class="form-check form-check-radio">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="correct"
              id="incorrect{{ id }}"
              value="no"
              onclick="showJustification('incorrect{{id}}', 'justificationAnswer{{ id }}', false)"
            />
            Incorrecta
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>
        </div>
        <div class="uncorrectedAnswersButton">
          <button
            type="submit"
            class="btn btn-primary btn-fab btn-fab-mini btn-round"
          >
            <i class="material-icons">add</i>
          </button>
        </div>
        <div
          class="justification justificationAnswer{{ id }}"
          style="display:none"
        >
          <p>JUSTIFICACIÓN:</p>
          <input type="textarea" name="justificationTextNew" />
          <!-- At the moment, when adding a new justification, it needs to be valid -->
          <!-- This commented code is here in case we need to change this -->
          <!--<div class="justification2">
            <div class="form-check form-check-radio">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="validNew"
                  id="valid{{ id }}-0"
                  value="yes"
                  onclick="showError('invalid{{ id }}-0')"
                />
                Válida
                <span class="circle">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-radio">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="validNew"
                  id="invalid{{ id }}-0"
                  value="no"
                  checked
                  onclick="showError('invalid{{ id }}-0')"
                />
                Inválida
                <span class="circle">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <input class="errorAnswer"
            type="textarea"
            name="errorNew"/>
          </div>
        </div>-->
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </form>
  </div>
</div>