<div class="sync-status-info">
    <div class="alert alert-danger mb-2">
        <div class="alert-heading">Exercise not downloaded</div>
        No files were found in the local exercise directory. You can download the files saved on the server the last time you ran the exercise.
    </div>
    <div class="text-center">
        @if (!this.showStepperProgress) {
            <button class="btn btn-v4t btn-sm" (click)="downloadExercise()">
                <i class="fas fa-download"></i> Download progress
            </button>
        }
    </div>
    @if (this.showStepperProgress) {
        <div class="progressBadges">
            @switch (stepperStatus.download) {
                @case ('NOT_STARTED') {
                    <div class="badge py-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                        <i class="far fa-circle" style="margin-right: .25rem"></i> Download
                    </div>
                }
                @case ('IN_PROGRESS') {
                    <div class="badge py-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">
                        <i class="far fa-circle-play" style="margin-right: .25rem"></i> Downloading...
                    </div>
                }
                @case ('FINISHED') {
                    <div class="badge py-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
                        <i class="fa fa-circle-check" style="margin-right: .25rem"></i> Downloaded
                    </div>
                }
            }
            @switch (stepperStatus.unzip) {
                @case ('NOT_STARTED') {
                    <div class="badge py-2 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                        <i class="far fa-circle" style="margin-right: .25rem"></i> Unzip
                    </div>
                }
                @case ('IN_PROGRESS') {
                    <div class="badge py-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">
                        <i class="far fa-circle-play" style="margin-right: .25rem"></i> Unzipping...
                    </div>
                }
                @case ('FINISHED') {
                    <div class="badge py-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
                        <i class="fa fa-circle-check" style="margin-right: .25rem"></i> Unzipped
                    </div>
                }
            }
        </div>
        <app-helper-progress-bar [info]="progressBar"></app-helper-progress-bar>
    }
</div>
