<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>V4T</title>
    <link rel="icon" href="../img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <header>
        <img class="logo" src="../img/v4ticon.png" alt="V4T logo">
    </header>
    <section>
        <h1 class="title">VSCode 4 Teaching</h1>
        <hr>
        <div class="text-body">
            <p>
                Bring the programming exercises of a course directly to the student's editor, so that the teacher of
                that
                course can check the progress of the students and help them.
            </p>
            <h3>Students signup:</h3>
            <img class="demo-gif" src="../img/signup.gif" alt="Students signup demo">
            <h3>Students signup:</h3>
            <img class="demo-gif" src="../img/student_gets_course.gif" alt="Students code usage demo">
        </div>
    </section>
</body>

</html>