<div class="exercise finished">
    <div class="name">{{ eui.exercise.name }}</div>
    <div class="actions-row">
        <!-- TODO To Be Implemented -->
        <!-- <div class="dropdown">
            <button class="btn btn-v4t btn-sm mx-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-download"></i> Download solution
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">Action</a></li>
                <li><a class="dropdown-item">Another action</a></li>
                <li><a class="dropdown-item">Something else here</a></li>
            </ul>
        </div> -->
    </div>
</div>
