.exercise {
    background-color: #FFF0F0;
    border-radius: 16px;
    padding: .5rem 1rem;
    margin: .5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;

    > .exerciseInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        > * {
            flex: 1 0;
            border-right: 1px solid #F44A3E;
            padding: .75rem;

            display: flex;
            justify-content: center;
            align-items: center;

            &:first-child {
                justify-content: flex-start;
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
                border-right: 0;
            }

            &.directory {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                > .badge {
                    align-self: center;
                }
            }

            &.name {
                flex-grow: 2;
                flex-direction: column;
                justify-content: flex-start;
            }

            label {
                font-size: 1rem;
                font-weight: 500;
                padding-bottom: 0;
            }
        }
    }

    &:nth-child(2n) {
        background-color: #FEE2E1;
    }

    div.invalid-feedback {
        display: block;
    }
}

