table {
    border-collapse: collapse;
    width: 100%;
}

body.vscode-light td, body.vscode-light th, body.vscode-dark td, body.vscode-dark th {
    border: 1px solid;
    text-align: center;
}

body.vscode-high-contrast td, th {
    border: 1px solid;
    text-align: center;
}

.not-started-cell {
    background-color: var(--vscode-diffEditor-removedTextBackground);
}

.finished-cell {
    background-color: var(--vscode-diffEditor-insertedTextBackground);
}

.onprogress-cell {
    background-color: rgba(76, 149, 218, 0.644);
    ;
}

button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

body.vscode-high-contrast button {
    border: 1px solid var(--vscode-contrastActiveBorder);
}

select {
    background-color: var(--vscode-dropdown-background);
    border: 1px solid var(--vscode-dropdown-border);
    color: var(--vscode-foreground);
}

option:hover {
    background-color: var(--vscode-selection-background);
}

.reload-options {
    border: 1px solid;
    padding: 2px;
    margin-top: 2px;
}

table th {
    line-height: 30px;
}

.sorter {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    top: 5px;
    transform: scale(0.75);
}

.sorter span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #efefef;
    display: inline-block;
    transition: all 0.2s ease;
}

.sorter span:first-of-type {
    left: 0;
    transform: rotate(45deg);
}

.sorter span:last-of-type {
    right: 0;
    transform: rotate(-45deg);
}

.sorter.active span:first-of-type {
    transform: rotate(-45deg);
}

.sorter.active span:last-of-type {
    transform: rotate(45deg);
}

.sorter-ls {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    top: 5px;
    transform: scale(0.75);
}

.sorter-ls span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #efefef;
    display: inline-block;
    transition: all 0.2s ease;
}

.sorter-ls span:first-of-type {
    left: 0;
    transform: rotate(45deg);
}

.sorter-ls span:last-of-type {
    right: 0;
    transform: rotate(-45deg);
}

.sorter-ls.active span:first-of-type {
    transform: rotate(-45deg);
}

.sorter-ls.active span:last-of-type {
    transform: rotate(45deg);
}

.workspace-link {
    margin-right: 4px;
}