{{>old/header}}
<div class="card">
    <div class="card-body">
        <h1>Error {{statusCode}}</h1>
        <h2>{{statusMessage}}</h2>
        <h3>{{errorMessage}}</h3>
        <a href="/">Volver al inicio</a>
    </div>    
</div>
{{>old/footer}}