@if (this.exerciseUserInfo) {
    <div class="student-identification">
        <div class="exercise-folder">
            <i class="fas fa-folder icon"></i> {{ this.directoryName }}
        </div>
        @if (!this.studentIdentityShown) {
            <div class="non-anonymous-data">
                <div class="username">
                    <i class="fas fa-user"></i> {{ this.exerciseUserInfo.user.username }}
                </div>
                <div class="fullName">
                    {{ this.exerciseUserInfo.user.name }} {{ this.exerciseUserInfo.user.lastName }}
                </div>
            </div>
        }
    </div>
    <div class="synchronization">
        <div class="status">
            @switch (exerciseUserInfo.status) {
                @case ('NOT_STARTED') {
                    <div class="badge color-not-started border-not-started py-1 px-2 rounded-pill">
                        <img ngSrc="/assets/exercise-icons/exercise_not_started.png" alt="Not started" height="192" width="192"> Not started
                    </div>
                }
                @case ('IN_PROGRESS') {
                    <div class="badge color-in-progress border-in-progress py-1 px-2 rounded-pill">
                        <img ngSrc="/assets/exercise-icons/exercise_in_progress.png" alt="In progress" height="192" width="192"> In progress
                    </div>
                }
                @case ('FINISHED') {
                    <div class="badge color-finished border-finished py-1 px-2 rounded-pill">
                        <img ngSrc="/assets/exercise-icons/exercise_finished.png" alt="Finished" height="192" width="192"> Finished
                    </div>
                }
            }
        </div>

        @if (this.exerciseUserInfo.updateDateTime) {
            <div class="date">
                <app-helper-delay-since [since]="this.exerciseUserInfo.updateDateTime"></app-helper-delay-since>
                ({{ this.exerciseUserInfo.updateDateTime | date: 'dd/MM/yyyy HH:mm:ss' }})
            </div>
        }
    </div>
}
