<div *ngIf="info.visible" class="progress" role="progressbar" aria-label="Basic example" [attr.aria-valuenow]="info.percentage" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: rgba(244, 74, 62, .2)">
    <div [ngClass]="{ 'progress-bar-striped': info.percentage < 100 }" class="progress-bar progress-bar-animated overflow-visible" [ngStyle]="{ 'width': info.percentage + '%', 'background-color': '#F44A3E', 'color': '#333333' }">{{ info.process }} ({{ Math.round(info.percentage) }}%)</div>
</div>
