.dashboard {
    > .course {
        background-color: #FFF0F0;
        padding: .75rem;
        border-radius: 8px;
        margin-bottom: 0.5rem;
    }

    > .courseGrid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;

        > .course {
            flex: 0 0 calc(100% / 3 - (.5rem * 2 / 3));
            background-color: #FFF0F0;
            border-radius: 8px;

            padding: .75rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            > .icon {
                font-size: 2rem;
                color: #F44A3E;
            }

            > .name {
                font-size: 1.2rem;
                font-weight: 500;
            }

            > .buttons {
                width: 100%;

                margin-top: 1rem;
                padding-top: .5rem;
                border-top: 1px solid #F44A3E;

                display: flex;
                flex-wrap: wrap;
                row-gap: .5rem;
                justify-content: center;
            }
        }
    }
}
