<div class="dashboard">
    <h3>My Courses</h3>

    <ng-container *ngIf="!this.coursesLoaded">
        <div class="alert alert-v4t">
            <i class="fas fa-circle-notch fa-spin"></i> Loading courses...
        </div>
    </ng-container>

    <ng-container *ngIf="this.coursesLoaded && this.userCourses.length === 0">
        <div class="alert alert-v4t">
            <i class="fas fa-exclamation-triangle"></i> No courses for this user.
        </div>
    </ng-container>

    <ng-container *ngIf="this.coursesLoaded && this.userCourses.length > 0">
        <div class="courseGrid">
            <div class="course" *ngFor="let course of this.userCourses">
                <div class="icon">
                    <i class="fas fa-book"></i>
                </div>
                <div class="name">{{ course.name }}</div>
                <div class="buttons">
                    <ng-container *ngIf="!this.curUser.isTeacher && this.fsaApiSupported">
                        <a [routerLink]="['/', 'student', 'course', course.id]" class="btn btn-v4t-coloured btn-sm my-0">
                            <i class="fas fa-book-open"></i> Exercises
                        </a>
                    </ng-container>
                    <ng-container *ngIf="this.curUser.isTeacher">
                        <a [routerLink]="['/', 'teacher', 'courses', course.id]" class="btn btn-v4t-coloured btn-sm my-0">
                            <i class="fas fa-dashboard"></i> Dashboard
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</div>
