<div class="exercise in-progress">
    <div class="name">{{ eui.exercise.name }}</div>
    <div class="actions-row">
        @if (!this.syncToServerActive) {
            <!-- Scenario 1: auto sync not started yet (initial situation) -->
            @if (this.existingFilesInLocalDirectory) {
                <!-- Scenario 1.1: exercise directory already existed and contains files => ask user whether to download or use the existing ones -->
                <app-student-exercise-existing-files (userSelected)="this.exerciseFilesReadyHandler($event)"></app-student-exercise-existing-files>
            } @else {
                <!-- Scenario 1.2: directory did not exist or has no content => show possibility to download and unzip from server -->
                <app-student-exercise-download-unzip [exerciseDirectoryHandle]="this.exerciseDirectory" [eui]="this.eui" (exercisePrepared)="this.exerciseFilesReadyHandler($event)"></app-student-exercise-download-unzip>
            }
        } @else {
            <!-- Scenario 2: auto sync started (common situation) -->
            <app-student-exercise-sync [exerciseDirectoryHandle]="this.exerciseDirectory" [eui]="this.eui"></app-student-exercise-sync>
        }
    </div>
    <div class="actions-row">
        <button class="btn btn-outline-v4t btn-sm mx-1" (click)="finishExercise()">
            <i class="fas fa-circle-check"></i> Finish exercise
        </button>
    </div>
</div>
