#indexComponentBody {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .logoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        height: 150px;

        > img {
            height: 100%;
        }
    }

    > h1 {
        text-align: center;
        font-weight: 700;
        margin: 0;
        color: #F44A3E;
    }

    > h2 {
        font-weight: 500;
        margin: 1.5rem 0 0.75rem;
    }

    > hr {
        border-color: #F44A3E;
    }
}

.text-big {
    margin: .5rem 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.step {
    margin: .5rem 4vw;
    padding-bottom: .25rem;
    border-bottom: 1px solid #F44A3E;

    > .stepImage {
        width: 75%;
        max-width: 1200px;
        margin-top: .25rem;
    }
}


.downloadBtn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 8px 30px;
    font-size: 1rem;
    transition: all 0.5s;

    &:hover {
        transition: all 0.5s;
    }
}

.step#step1 .downloadBtn#vsc {
    border: 1px solid #007acc;
    background-color: #ceebff;

    &:hover {
        background-color: #9ad6ff;
        box-shadow: 0 0 10px #9ad6ff;
    }
}

.step#step2 .downloadBtn#v4t {
    border: 2px solid #f88a81;
    background-color: #fbb7b1;

    &:hover {
        background-color: #fbb7b1;
        box-shadow: 0 0 10px #fbb7b1;
    }
}

.downloadBtn {
    > img {
        width: 25px;
        margin-right: 16px;
    }

    > span {
        color: black;
    }

    &:link,
    &:visited {
        text-decoration: none;
    }
}

.codeBlock {
    display: flex;
    width: 50%;
    margin: 0 auto 0.5rem auto;


    > #givenCodeInput {
        border: 2px solid #f44a3e;
        padding: 12px 40px;
        flex-grow: 9;
        transition: all 0.25s;
        text-align: center;

        &:focus {
            outline: none;
            box-shadow: 0 0 20px #f38078;
            transition: all 0.25s;
        }
    }

    #codeCopyBtn {
        background-color: #f44a3e;
        padding: 12px 40px;
        color: white;
        border: 0;
        flex-grow: 1;
        cursor: pointer;
    }
}
