body {
}

header {
    background-color: white;
    grid-area: header;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

header > img.logo {
    height: 100%;
    margin-left: 10px;
}

section {
    border: 2px solid black;
    border-radius: 10px;
    grid-area: section;
    text-align: center;
    margin: 2rem 3%;
}

section > h1.title {
    text-align: center;
    font-family: moon-get-heavy, serif;
}

.text-body {
    margin: 1rem;
    font-family: louis-george-cafe, serif;
    font-size: 25px;
}

.demo-gif {
    width: 950px;
    max-width: 85vw;
}

@font-face {
    font-family: louis-george-cafe;
    src: url("../fonts/Louis George Cafe.ttf");
}

@font-face {
    font-family: moon-get-heavy;
    src: url("../fonts/moon_get-Heavy.otf");
}

@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa-Light.ttf");
}


#download {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    border: 2px solid #0987f3;
    background-color: hsl(197, 69%, 94%);
    padding: 2px 4px;
    font-family: Comfortaa, serif;
}

#download > img {
    width: 40px;
    margin-right: 16px;
}

#download > span {
    color: black;
    font-weight: bold;
}

#download:link,
#download:visited {
    text-decoration: none;
}

#download:hover {
    background-color: hsl(197, 64%, 78%);
}

h3{
    font-family: louis-george-cafe, serif;
}