<div *ngIf="visible" class="progress" role="progressbar" aria-label="Basic example" [attr.aria-valuenow]="currentValue / totalValue * 100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: rgba(244, 74, 62, .2)">
    <div [ngClass]="{ 'progress-bar-striped': currentValue !== totalValue }" class="progress-bar progress-bar-animated overflow-visible" [ngStyle]="{ 'width': currentValue / totalValue * 100 + '%', 'background-color': '#F44A3E', 'color': '#333333' }">{{ processTag }} ({{ Math.round(currentValue / totalValue * 100) }}%)</div>
</div>
