<div class="container-small d-flex flex-column">
    <h2 class="h2">Sign up at VSCode4Teaching</h2>
    <ng-container [ngSwitch]="this.step">
        <p *ngSwitchCase="1">Welcome to VSCode4Teaching! In order to finish your sign up process, please introduce the username and e-mail that were used to invite you.</p>
        <p *ngSwitchCase="2">Now, enter the password you wish to use to log in VSCode4Teaching.</p>
    </ng-container>
    <ng-container *ngIf="this.error !== undefined">
        <div class="alert alert-danger">
            <i class="fas fa-exclamation-triangle"></i>&nbsp;
            <span>{{ this.error }}</span>
        </div>
    </ng-container>
    <ng-container *ngIf="this.step === 1">
        <form [formGroup]="stepOneForm" (submit)="submitUsername()">
            <div class="row">
                <div class="col-12 col-md-3">
                    <label for="userName">Username</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" name="username" placeholder="Username" class="form-control" formControlName="username" [ngClass]="{'is-invalid': getValidationStatusOfField(this.stepOneForm, 'username')}">
                    <div class="invalid-feedback" *ngIf="this.getValidationStatusOfField(this.stepOneForm, 'username', 'required')">Username is required.</div>
                    <div class="invalid-feedback" *ngIf="this.getValidationStatusOfField(this.stepOneForm, 'username', 'minlength')">Username's length must be greater than 4 characters.</div>
                    <div class="invalid-feedback" *ngIf="this.getValidationStatusOfField(this.stepOneForm, 'username', 'maxlength')">Username's length must be less than 50 characters.</div>
                    <div class="invalid-feedback" *ngIf="this.getValidationStatusOfField(this.stepOneForm, 'username', 'pattern')">Username cannot contain "template".</div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-v4twebapp" [disabled]="!this.stepOneForm.valid">
                        <i class="fas fa-user-plus" *ngIf="!this.requestSent"></i>
                        <i class="fas fa-spin fa-circle-notch" *ngIf="this.requestSent"></i>
                        &nbsp;Continue
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="this.step === 2">
        <form [formGroup]="stepTwoForm" (submit)="submitNewPassword()">
            <div class="row">
                <div class="col-3">
                    <label for="password">Password</label>
                </div>
                <div class="col-9">
                    <input type="password" name="password" placeholder="Password" class="form-control" formControlName="password"
                        [ngClass]="{'is-invalid': getValidationStatusOfField(this.stepTwoForm, 'password')}">
                    <div class="invalid-feedback" *ngIf="this.getValidationStatusOfField(this.stepTwoForm, 'password', 'required')">Password is required.</div>
                    <div class="invalid-feedback" *ngIf="this.getValidationStatusOfField(this.stepTwoForm, 'password', 'minlength')">Password's length must be greater than 8 characters.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="confirmPassword">Confirm password</label>
                </div>
                <div class="col-9">
                    <input type="password" name="confirmPassword" placeholder="Confirm password" class="form-control" formControlName="confirmPassword"
                        [ngClass]="{'is-invalid': getValidationStatusOfField(this.stepTwoForm, 'confirmPassword')}">
                    <div class="invalid-feedback" *ngIf="this.getValidationStatusOfField(this.stepTwoForm, 'confirmPassword', 'required')">Password confirmation is required.</div>
                    <div class="invalid-feedback" *ngIf="this.getValidationStatusOfField(this.stepTwoForm, 'confirmPassword', 'passwordConfirmed')">Passwords must coincide.</div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-v4twebapp">
                        <i class="fas fa-user-plus" *ngIf="!this.requestSent"></i>
                        <i class="fas fa-spin fa-circle-notch" *ngIf="this.requestSent"></i>
                        &nbsp;Save new password
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="this.step === 3">
        <div class="row text-center">
            <i class="far fa-check-circle fa-5x"></i>
            <div class="h4">Welcome to VSCode4Teaching!</div>
            <div class="h5">Sign up process has been successfully finished. You can start creating a new course in your VSCode4Teaching extension at Visual Studio Code and start teaching!</div>
        </div>
    </ng-container>
</div>