.vscode/**
.vscode-test/**
out/test/**
out/v4t/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.git/**
.scannerwork/**
doc_images/**
test-resources/**
.nyc_output/**
coverage/**