.vscode/**
.vscode-test/**
out/test/**
out/v4t/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.git/**
.scannerwork/**
doc_images/**
test-resources/**
.nyc_output/**
coverage/**
tslint_report.txt
jest.config.js
out/src/v4t/**
test/**
node_modules/**
!node_modules/axios/**
!node_modules/form-data/**
!node_modules/ignore/**
!node_modules/jszip/**
!node_modules/mkdirp/**