.sharingCode {
    label {
        font-size: 1rem;
        font-weight: 500;
    }

    .description {
        font-size: 0.9rem;
        font-weight: 400;
        margin: .25rem 0;
        text-align: justify;
    }

    .shareInput {
        margin: .75rem 0 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
