.btn-toggle {
    width: 100%;
    text-align: left;
    padding: .25rem .5rem;
    font-weight: 600;
    color: #333333;
    background-color: transparent;
    display: inline-flex;
    align-items: center;

    &:hover, &:focus {
        color: #1C1C1C;
        background-color: #FFF0F0;
    }

    &:active,
    &:not(.collapsed) {
        background-color: #FCD2CE;
    }

    &::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    &[aria-expanded="true"] {
        color: rgba(0, 0, 0, .85);
    }

    &[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }
}

.courseExercisesList > ul {
    > .courseActions {
        display: flex;
        justify-content: space-evenly;
        padding: 0.25rem;
        border-bottom: .5px dotted #F44A3E;
    }

    > .exercise {
        align-items: center;
        padding: .5rem;

        > .row {
            align-items: center;
        }

        &:hover, &:focus{
            background-color: #FFF0F0;
        }

        &.active {
            background-color: #FDE8E6;
        }
    }
}
