@font-face {
    font-family: louis-george-cafe;
    src: url("/assets/fonts/Louis George Cafe.ttf");
}

@font-face {
    font-family: moon-get-heavy;
    src: url("/assets/fonts/moon_get-Heavy.otf");
}

@font-face {
    font-family: Comfortaa;
    src: url("/assets/fonts/Comfortaa-Light.ttf");
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 100px;
}

header > img.logo {
    height: 100%;
}

section {
    text-align: center;
}

section > h1.title {
    text-align: center;
    font-family: moon-get-heavy, serif;
}

.text-body {
    margin: 1rem;
    font-size: 1.25rem;
    text-align: center;
    font-family: louis-george-cafe, serif;
}

.demo-gif {
    width: 100%;
    max-width: 1200px;
}

.downloadBtn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 12px 40px;
    font-family: Comfortaa, serif;
    font-size: 20px;
    transition: all 0.5s;
}

.downloadBtn#vsc {
    border: 2px solid #007acc;
    background-color: #ceebff;
}

.downloadBtn#v4t {
    border: 2px solid #f88a81;
    background-color: #fbb7b1;
}

.downloadBtn:hover {
    transition: all 0.5s;
}

.downloadBtn#vsc:hover {
    background-color: #9ad6ff;
    box-shadow: 0px 0px 20px #9ad6ff;
}

.downloadBtn#v4t:hover {
    background-color: #fbb7b1;
    box-shadow: 0px 0px 20px #fbb7b1;
}

.downloadBtn > img {
    width: 30px;
    margin-right: 16px;
}

.downloadBtn > span {
    color: black;
    font-weight: bold;
}

.downloadBtn:link,
.downloadBtn:visited {
    text-decoration: none;
}

h3 {
    font-family: louis-george-cafe, serif;
    margin: 1.5rem 0 0.75rem;
}

.codeBlock {
    display: flex;
    width: 40%;
    margin: 0 auto 0.5rem auto;
}

#givenCodeInput {
    border: 2px solid #f44a3e;
    padding: 12px 40px;
    flex-grow: 9;
    transition: all 0.25s;
}

#givenCodeInput:focus {
    outline: none;
    box-shadow: 0px 0px 20px #f38078;
    transition: all 0.25s;
}

#codeCopyBtn {
    background-color: #f44a3e;
    padding: 12px 40px;
    color: white;
    border: 0;
    flex-grow: 1;
    cursor: pointer;
}
