<ng-container *ngIf="!exercise">
    <div class="alert alert-v4t">Loading...</div>
</ng-container>

<ng-container *ngIf="exercise">
    <h3>{{ exercise.course.name }}</h3>
    <h4>{{ exercise.name }}</h4>

    <div class="steps">
        <div>
            <app-exercise-step1
                [activeStep]="this.activeStep"
                [exercise]="this.exercise"
                (stepFinished)="this.nextStep()"
            ></app-exercise-step1>
        </div>
        <div>
            <app-exercise-step2
                [activeStep]="this.activeStep"
                [exercise]="this.exercise"
                (newRootDirectoryNode)="saveRootDirectoryNode($event)"
                (newFileSystemDirectoryHandle)="saveFileSystemDirectoryHandle($event)"
                (stepFinished)="this.nextStep()"
            ></app-exercise-step2>
        </div>
    </div>
</ng-container>
