.steps > * {
    margin-bottom: 0.5rem;

    &:last-child{
        margin-bottom: 0;
    }
}

.step {
    background-color: #FFF0F0;
    padding: .75rem;
    border-radius: 8px;

    > .stepTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        > .stepNumber {
            background-color: #F44A3E;
            padding: .25rem;
            border-radius: 50%;

            text-align: center;
            color: white;
            font-weight: 700;

            height: 2rem;
            width: 2rem;
        }

        > .stepShortDescription {
            font-weight: 500;
            font-size: 1.1rem;

            margin-left: .5rem;
        }
    }

    > .stepDetail {
        background-color: white;
        border-radius: 8px;
        margin-top: .25rem;
        padding: .5rem 1rem;

        > .center {
            display: flex;
            justify-content: center;
        }

        > .as-column {
            flex-direction: column;
        }
    }
}

.progress {
    width: 75%;
    margin-top: .75rem;
}

.currentSyncWork {
    padding: 0 .5rem;
}

.pendingFinishedSyncWorks {
    display: flex;
    flex-direction: row;

    > .pendingSyncWorks {
        flex: 1;
        padding: 0 .5rem;
        border-right: 1px solid #F44A3E;
    }

    > .finishedSyncWorks {
        flex: 1;
        padding: 0 .5rem;
    }
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

.syncWorkProcess {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    border-bottom: 1px solid #F44A3E;

    &:last-child {
        border-bottom: 0;
    }

    > .processInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 2;

        > .processType {
            flex: 1 0;
            font-size: 1.5rem;
        }

        > .processType.creation {
            color: green;
        }

        > .processType.modification {
            color: orange;
            font-size: 1.4rem;
        }

        > .processType.deletion {
            color: red;
        }

        > .processRelatedFile {
            flex: 20 0;
        }
    }

    > .progress {
        flex: 1;
    }
}

.sectionTitle {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #333;
    padding: .5rem 0;
}
