<div class="flex-shrink-0 bg-white">
    <ul class="list-unstyled">
        <li class="mb-1">
            <button class="btn btn-toggle rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#orders-collapse" aria-expanded="false">
                Orders
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li [routerLink]="['/dashboard']" class="aside-exercise">
                        <div class="name">New</div>
                        <div class="links">
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </li>
                    <li [routerLink]="['/dashboard']" class="aside-exercise">
                        <div class="name">
                            <a class="link-dark rounded">New</a>
                        </div>
                        <div class="links">
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </li>
                    <li [routerLink]="['/dashboard']" class="aside-exercise">
                        <div class="name">
                            <a class="link-dark rounded">New</a>
                        </div>
                        <div class="links">
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </li>
                    <li [routerLink]="['/dashboard']" class="aside-exercise">
                        <div class="name">
                            <a class="link-dark rounded">New</a>
                        </div>
                        <div class="links">
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                            <button class="btn btn-sm btn-outline-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!--
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="false">
                    Account
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">New...</a></li>
                        <li><a href="#" class="link-dark rounded">Profile</a></li>
                        <li><a href="#" class="link-dark rounded">Settings</a></li>
                        <li><a href="#" class="link-dark rounded">Sign out</a></li>
                    </ul>
                </div>
            </li>
        -->
    </ul>
</div>
