<div class="step">
    <div class="stepTitle">
        <div class="stepNumber">2</div>
        <div class="stepShortDescription">Set up synchronization parameters</div>
    </div>
    <div class="stepDetail" *ngIf="activeStep === 2">
        Unzip the downloaded file and place it somewhere on your computer in the user folder.
        Then, select in the next field the folder where you have placed the unzipped files.

        <div class="center">
            <button class="btn btn-v4t-coloured" (click)="chooseDirectory()"><i class="fas fa-folder"></i> Choose directory</button>
        </div>

        <!-- If reading fails, show error alert inviting user to force reload page -->
        <ng-container *ngIf="this.errorStep2">
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-triangle"></i> There was an error during the directory reading process. Please reload the page and try again.
            </div>
        </ng-container>
    </div>
</div>
