/*
 * OWN STYLES
 */

body {
    background: #fff8f7;
    font-family: "Roboto", sans-serif;
}

h2 {
    color: #f44a3e;
    text-align: center;
}

p {
    text-align: justify;
}

.container-small {
    width: 35vw;
    background-color: white;
    padding: 3rem 1rem;
    box-shadow: 0px 0px 20px rgba(244, 74, 62, 0.5);
    display: flex;
    animation: FadeIn 1s 1 ease-in-out;
}

.container-big {
    width: 60vw;
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 0px 20px rgba(244, 74, 62, 0.5);
    display: flex;
    animation: FadeIn 1s 1 ease-in-out;
}

@media screen and (max-width: 992px) {
    .container-small {
        width: 70vw;
    }

    .container-big {
        width: 85vw;
    }
}

@media screen and (max-width: 768px) {
    .container-small,
    .container-big {
        width: 100vw;
    }
}

/*
 * BOOTSTRAP OVERRIDINGS
 */

.row {
    margin: 0.5rem 0;
}

.form-control:focus {
    border-color: #f44a3e;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(244, 74, 62, 0.25);
}

.btn-outline-v4twebapp {
    color: #f44a3e;
    border-color: #f44a3e;
}

.btn-outline-v4twebapp:hover {
    color: #fff;
    background-color: #f44a3e;
    border-color: #f44a3e;
}

.btn-outline-v4twebapp:active {
    color: #fff;
    background-color: #eb463b;
    border-color: #eb463b;
}

.btn-outline-v4twebapp:focus {
    box-shadow: 0 0 0 0.25rem rgb(244 74 62 / 50%);
}

/*
 * KEYFRAMES AND FONT-FACE DECLARATIONS
 */
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium"), local("Roboto-Medium"), url("assets/fonts/Roboto-Medium.woff2") format("woff2"),
        url("assets/fonts/Roboto-Medium.woff") format("woff"), url("assets/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"), url("assets/fonts/Roboto-Bold.woff2") format("woff2"),
        url("assets/fonts/Roboto-Bold.woff") format("woff"), url("assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
        url("assets/fonts/Roboto-BoldItalic.woff2") format("woff2"),
        url("assets/fonts/Roboto-BoldItalic.woff") format("woff"),
        url("assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"),
        url("assets/fonts/Roboto-MediumItalic.woff2") format("woff2"),
        url("assets/fonts/Roboto-MediumItalic.woff") format("woff"),
        url("assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
        url("assets/fonts/Roboto-LightItalic.woff2") format("woff2"),
        url("assets/fonts/Roboto-LightItalic.woff") format("woff"),
        url("assets/fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Black"), local("Roboto-Black"), url("assets/fonts/Roboto-Black.woff2") format("woff2"),
        url("assets/fonts/Roboto-Black.woff") format("woff"), url("assets/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Light"), local("Roboto-Light"), url("assets/fonts/Roboto-Light.woff2") format("woff2"),
        url("assets/fonts/Roboto-Light.woff") format("woff"), url("assets/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Black Italic"), local("Roboto-BlackItalic"),
        url("assets/fonts/Roboto-BlackItalic.woff2") format("woff2"),
        url("assets/fonts/Roboto-BlackItalic.woff") format("woff"),
        url("assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Italic"), local("Roboto-Italic"), url("assets/fonts/Roboto-Italic.woff2") format("woff2"),
        url("assets/fonts/Roboto-Italic.woff") format("woff"), url("assets/fonts/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url("assets/fonts/Roboto-Regular.woff2") format("woff2"),
        url("assets/fonts/Roboto-Regular.woff") format("woff"),
        url("assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"),
        url("assets/fonts/Roboto-ThinItalic.woff2") format("woff2"),
        url("assets/fonts/Roboto-ThinItalic.woff") format("woff"),
        url("assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Thin"), local("Roboto-Thin"), url("assets/fonts/Roboto-Thin.woff2") format("woff2"),
        url("assets/fonts/Roboto-Thin.woff") format("woff"), url("assets/fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
