@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

a.btn.btn-xs,
button.btn-xs {
    border-radius: 4px;
    font-size: .75rem;
    padding: .25rem .5rem;

    margin-right: .25rem;

    &:last-child {
        margin-right: 0;
    }
}

a.link-v4t {
    color: #F44A3E;
    text-decoration-color: #F44A3E;

    &:hover {
        color: #F33326;
        text-decoration-color: #F33326;
    }
}


a.btn-v4t,
button.btn-v4t {
    color: #F44A3E;
    border: 1px solid #F44A3E;
    margin-right: .25rem;

    &:hover {
        background-color: #F44A3E;
        border-color: #F44A3E;
        color: white;
    }

    &:active, &.active, &:focus, &:focus-visible {
        background-color: #F33326 !important;
        border-color: #F33326 !important;
        color: white !important;
    }
}

a.btn-v4t-coloured,
button.btn-v4t-coloured {
    background-color: #F44A3E;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: .5rem 3rem;
    margin: .5rem;

    &:hover {
        background-color: #F33326;
        color: white;
    }

    &:active {
        background-color: #F11D0E !important;
        color: white !important;
        border-color: #F11D0E !important;
    }

    &:disabled {
        background-color: #CCCCCC;
        border-color: #CCCCCC;
        color: #333333;
        cursor: not-allowed;
    }

    > svg[data-fa-i2svg] {
        margin-right: .5rem;
    }
}


div.alert {
    margin: 0;
    padding: .5rem 1rem;

    border-radius: 12px;
    font-size: .9rem;

    &.alert-v4t {
        background-color: #FFF0F0;
        color: #F44A3E;
        border-color: #F44A3E;
    }

    > .alert-heading {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        padding-bottom: .25rem;
    }
}


.progress-bar.bg-v4t {
    background-color: #F44A3E;
}

hr {
    border-color: #F44A3E;
}


.form-check-input.v4t {
    --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0%2C 0%2C 0%2C 0.25)'/%3E%3Ccircle r='1.5' fill='none' stroke='rgba(0%2C 0%2C 0%2C 0.5)' stroke-width='0.5'/%3E%3C/svg%3E");
    margin-left: .5rem;
    margin-right: .5rem;

    &:focus {
        box-shadow: 0 0 0 .25rem rgba(244, 74, 62, .25);
        border-color: #F44A3E;
        --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(244%2C 74%2C 62%2C 0.3)'/%3E%3Ccircle r='1.5' fill='none' stroke='rgba(30%2C 30%2C 30%2C 0.5)' stroke-width='0.5'/%3E%3C/svg%3E");
    }

    &:checked {
        --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23FFFFFF'/%3E%3Cline x1='0' y1='-1.75' x2='0' y2='1.75' stroke='rgba(51%2C 51%2C 51%2C 0.7)' stroke-width='1'/%3E%3C/svg%3E");
        background-color: #F44A3E;
        border-color: #F44A3E;
    }
}


.bg-finished {
    background-color: #E8F5E9;
}

.color-finished {
    color: #66BB6A;
}

.border-finished {
    border: 1px solid #66BB6A;
}

.bg-in-progress {
    background-color: #FFFDE7;
}

.color-in-progress {
    color: #F9A825;
}

.border-in-progress {
    border: 1px solid #F9A825;
}

.bg-not-started {
    background-color: #FFEBEE;
}

.color-not-started {
    color: #EF5350;
}

.border-not-started {
    border: 1px solid #EF5350 !important;
}
