<div class="step">
    <div class="stepTitle">
        <div class="stepNumber">3</div>
        <div class="stepShortDescription">Sync exercise with server</div>
    </div>
    <div class="stepDetail" *ngIf="activeStep === 3">
        <!-- If File System Access API is not enabled, a "Sync Now" button and an advise must be shown to user -->
        <ng-container *ngIf="!this.supportedFileSystemAccessAPI">
            <div class="alert alert-warning">
                <i class="fas fa-exclamation-triangle"></i> <strong>Warning.</strong> This browser does not support automatic file synchronization. You can continue to use manual synchronization (selecting the directory to synchronize each time you want to save changes) or use a browser that supports this functionality (e.g. Google Chrome).
            </div>

            <div class="actions">
                <button class="btn btn-v4t" [disabled]="supportedFileSystemAccessAPI" (click)="completeSync()">
                    <i class="fas fa-sync"></i> Sync now
                </button>
            </div>

            <hr>
        </ng-container>

        <!-- Current SyncWork (if existing) -->
        <div class="currentSyncWork">
            <div class="sectionTitle">
                <i class="fas fa-clock"></i>&nbsp;Current Work
            </div>
            <ng-container *ngIf="currentSyncWork !== undefined">
                <div class="syncWorkProcess">
                    <div class="processInfo">
                        <i class="processType fas" [ngClass]="{'fa-plus creation': currentSyncWork?.type === 'CREATION', 'fa-pen modification': currentSyncWork?.type === 'MODIFICATION', 'fa-minus deletion': currentSyncWork?.type === 'DELETION'}"></i>
                        <div class="processRelatedFile">{{ currentSyncWork?.node?.name }}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-v4t progress-bar-striped progress-bar-animated" [ngStyle]="{'width': currentSyncWork?.progress + '%'}"></div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="currentSyncWork === undefined">
                <div class="text-center">
                    <i class="fas fa-exclamation-triangle"></i>&nbsp;No synchronization work is currently running.
                </div>
            </ng-container>
        </div>

        <hr>

        <div class="pendingFinishedSyncWorks">
            <!-- Pending SyncWorks -->
            <div class="pendingSyncWorks">
                <div class="sectionTitle">
                    <i class="fas fa-circle-up"></i>&nbsp;Pending Works
                </div>

                <div class="syncWorkProcess" *ngFor="let enqueuedProcess of pendingSyncWorks.getNElements(10)">
                    <div class="processInfo">
                        <i class="processType fas" [ngClass]="{'fa-plus creation': enqueuedProcess.type === 'CREATION', 'fa-pen modification': enqueuedProcess.type === 'MODIFICATION', 'fa-minus deletion': enqueuedProcess.type === 'DELETION'}"></i>
                        <div class="processRelatedFile">{{ enqueuedProcess.node.name }}</div>
                    </div>
                </div>
                <!-- If there are not pending works, a banner is shown -->
                <ng-container *ngIf="pendingSyncWorks.pendingElements() === 0">
                    <div class="text-center">
                        <i class="fas fa-exclamation-triangle"></i>&nbsp;No synchronization work is pending.
                    </div>
                </ng-container>
                <!-- If there are more than 10 pending works, a legend is shown -->
                <ng-container *ngIf="pendingSyncWorks.pendingElements() > 10">
                    {{ pendingSyncWorks.pendingElements() - 10 }} more works pending.
                </ng-container>
            </div>

            <!-- Finished SyncWorks -->
            <div class="finishedSyncWorks">
                <div class="sectionTitle">
                    <i class="fas fa-circle-check"></i>&nbsp;Finished Works
                </div>

                <div class="finishedWorksList">
                    <div class="syncWorkProcess" *ngFor="let finishedWork of finishedSyncWorks.slice(0, 10)">
                        <div class="processInfo">
                            <i class="processType fas" [ngClass]="{'fa-plus creation': finishedWork.type === 'CREATION', 'fa-pen modification': finishedWork.type === 'MODIFICATION', 'fa-minus deletion': finishedWork.type === 'DELETION'}"></i>
                            <div class="processRelatedFile">{{ finishedWork.node.name }}</div>
                        </div>
                    </div>
                </div>
                <!-- If there are not pending works, a banner is shown -->
                <ng-container *ngIf="finishedSyncWorks.length === 0">
                    <div class="text-center">
                        <i class="fas fa-exclamation-triangle"></i>&nbsp;No synchronization work has been finished yet.
                    </div>
                </ng-container>
                <!-- If there are more than 10 pending works, a legend is shown -->
                <ng-container *ngIf="finishedSyncWorks.length > 10">
                    {{ finishedSyncWorks.length - 10 }} more works finished.
                </ng-container>
            </div>
        </div>

        <hr>

        <div class="center as-column">
            <div class="text-center">
                You can exit this page (and stop synchronization) by exiting this page or marking exercise as finished.
            </div>
            <div class="actions">
                <button class="btn btn-v4t-coloured" (click)="markAsFinished()">
                    <i class="fas fa-circle-check"></i> Finish Exercise
                </button>
            </div>
        </div>
    </div>
</div>
